<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<app-tab-component></app-tab-component>

<div class="container mt-4">
  <app-user-list *ngIf="this.service.choice === 'users' "></app-user-list>
  <app-topic-list *ngIf="this.service.choice === 'topics' "></app-topic-list>
</div>


